# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt
mcmodsrepo/net/vdelta/sigil_utils/SigilUtils/0.1-1.20.1/SigilUtils-0.1-1.20.1.jar
mcmodsrepo/net/vdelta/sigil_utils/SigilUtils/0.1-1.20.1/SigilUtils-0.1-1.20.1.jar.md5
mcmodsrepo/net/vdelta/sigil_utils/SigilUtils/0.1-1.20.1/SigilUtils-0.1-1.20.1.jar.sha1
mcmodsrepo/net/vdelta/sigil_utils/SigilUtils/0.1-1.20.1/SigilUtils-0.1-1.20.1.jar.sha256
mcmodsrepo/net/vdelta/sigil_utils/SigilUtils/0.1-1.20.1/SigilUtils-0.1-1.20.1.jar.sha512
mcmodsrepo/net/vdelta/sigil_utils/SigilUtils/maven-metadata.xml
mcmodsrepo/net/vdelta/sigil_utils/SigilUtils/maven-metadata.xml.md5
mcmodsrepo/net/vdelta/sigil_utils/SigilUtils/maven-metadata.xml.sha1
mcmodsrepo/net/vdelta/sigil_utils/SigilUtils/maven-metadata.xml.sha256
mcmodsrepo/net/vdelta/sigil_utils/SigilUtils/maven-metadata.xml.sha512
